li {
    list-style-type: none;
}

ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;
    top: 0;
    padding-left: 0;
}

.sideBar{
height: 100%;
width: 10%; 
position: fixed; 
z-index: 1; 
top: 0; 
left: 0;
background-color : rgb(13, 19, 33, .92);
overflow-x: hidden; 
padding-top: 20px;
border-right: 1px solid lightgray;

}

.sideBar_link{
    padding-top: 16px;
    padding-left: 10px;
}

hr{
    display: none;
}


